<!DOCTYPE html>
{% load static %}


<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Дашбоард</title>
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
</head>

<header class="dashboard-header">
        <h1>PersonalHub</h1>

        <button
            type="button"
            id="theme-toggle"
            aria-label="Переключить цветовую тему"
        >
            Тёмная тема
        </button>
</header>
<body>
    <p>Добро пожаловать на дашборд!</p>

    <div class="events-container">
        {% for event in events %}
        <article
            class="event-card"
            data-target="{{ event.target_datetime|date:'c' }}"
        >
            <h2>{{ event.title }}</h2>

            <p>{{ event.target_datetime|date:"d.m.Y H:i" }}</p>

            <div class="countdown">

                <div>
                    <span class="days">0</span>
                    <span>Дней</span>
                </div>

                <div>
                    <span class="hours">0</span>
                    <span>Часов</span>
                </div>

                <div>
                    <span class="minutes">0</span>
                    <span>Минут</span>
                </div>

                <div>
                    <span class="seconds">0</span>
                    <span>Секунд</span>
                </div>

            </div>

        </article>
    {% empty %}
        <h2>Событий пока нет.</h2>
    {% endfor %}
</div>

<section class="pomodoro">
    <div class="pomodoro-settings">
        <label for="work-duration">Работа, минут </label>
        <input
            id="work-duration"
            type="number"
            value="25"
            min="1"
            max="120"
            required
        >

        <label for="break-duration">Отдых, минут</label>
        <input
            id="break-duration"
            type="number"
            value="5"
            min="1"
            max="60"
            required
        >
    </div>

    <div class="pomodoro-status">
        <span>Режим</span>
        <span id="timer-mode">Работа</span>
    </div>

    <div id="timer-display" class="pomodoro-timer">25:00</div>

    <div class="pomodoro-controls">
        <button id="timer-start" type="button">Старт</button>
        <button id="timer-pause" type="button">Пауза</button>
        <button id="timer-reset" type="button">Сброс</button>
    </div>
</section>
<script src="{% static 'dashboard/dashboard.js' %}"></script>

</body>
</html>